n8n-workflows/workflow-chat.json
{
  "name": "Decimal RAG — Chat",
  "nodes": [
    {
      "id": "webhook1",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 0],
      "parameters": {
        "path": "rag-chat",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "agent1",
      "name": "Agent RAG",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [0, 0],
      "parameters": {
        "options": {
          "systemMessage": "Tu es un assistant qui répond aux questions en te basant EXCLUSIVEMENT sur les documents fournis via la base de connaissances.\n\nRègles strictes :\n1. Consulte SYSTÉMATIQUEMENT la base de connaissances pour toute question\n2. Pour chaque affirmation, cite la source\n3. Si l'information n'est pas dans les sources, dis clairement : \"Cette information n'est pas disponible dans les documents.\"\n4. Ne devine jamais, ne complète jamais avec tes connaissances internes\n5. Réponds en français"
        }
      }
    },
    {
      "id": "llm1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-200, 300],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "ofSSEvpXZSj1zVP0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "vectorstore1",
      "name": "Base de Connaissances",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "base_connaissances",
        "toolDescription": "Base de connaissances contenant tous les documents de l'entreprise. Utilise cet outil pour répondre à toute question.",
        "tableName": {
          "__rl": true,
          "value": "rag_chunks",
          "mode": "list",
          "cachedResultName": "rag_chunks"
        },
        "topK": 20,
        "options": {
          "queryName": "match_rag_chunks"
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "5tl9S85Vu5TINDim",
          "name": "Supabase Postgres (n8n chat)"
        }
      }
    },
    {
      "id": "embeddings1",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [0, 500],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "ofSSEvpXZSj1zVP0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "memory1",
      "name": "Mémoire Conversation",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [200, 300],
      "parameters": {},
      "credentials": {
        "postgres": {
          "id": "5tl9S85Vu5TINDim",
          "name": "Supabase Postgres (n8n chat)"
        }
      }
    },
    {
      "id": "respond1",
      "name": "Répondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [400, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { answer: $json.output, sources: [] } }}"
      }
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [[{"node": "Agent RAG", "type": "main", "index": 0}]]
    },
    "Agent RAG": {
      "main": [[{"node": "Répondre", "type": "main", "index": 0}]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{"node": "Agent RAG", "type": "ai_languageModel", "index": 0}]]
    },
    "Base de Connaissances": {
      "ai_tool": [[{"node": "Agent RAG", "type": "ai_tool", "index": 0}]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{"node": "Base de Connaissances", "type": "ai_embedding", "index": 0}]]
    },
    "Mémoire Conversation": {
      "ai_memory": [[{"node": "Agent RAG", "type": "ai_memory", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
