n8n-workflows/workflow-ingestion-pdf.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "decimal-rag-ingest-file",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook File",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0]
    },
    {
      "parameters": {
        "jsCode": "const docId = $input.first().json.body.document_id;\nconst supabaseUrl = 'https://plbjafwltwpupspmlnip.supabase.co';\nconst anonKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsYmphZndsdHdwdXBzcG1sbmlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NjQ1MTYsImV4cCI6MjA4ODU0MDUxNn0.xQRTqPRBmpEwC1pZ3rX4m9wCtbQHx8jQC-dvgtUbNfk';\nconst headers = { 'apikey': anonKey, 'Authorization': `Bearer ${anonKey}` };\n\n// Get document\nconst docRes = await this.helpers.httpRequest({ method: 'GET', url: `${supabaseUrl}/rest/v1/rag_documents?id=eq.${docId}&select=*`, headers });\nif (!docRes.length) throw new Error('Document not found: ' + docId);\nconst doc = docRes[0];\n\n// Set status processing\nawait this.helpers.httpRequest({ method: 'POST', url: `${supabaseUrl}/functions/v1/rag-update-status`, headers: { 'Content-Type': 'application/json' }, body: { document_id: docId, status: 'processing' } });\n\n// Delete old chunks\ntry { await this.helpers.httpRequest({ method: 'DELETE', url: `${supabaseUrl}/rest/v1/rag_chunks?document_id=eq.${docId}`, headers }); } catch(e) {}\n\nreturn [{ json: { document_id: docId, source_ref: doc.source_ref, source_type: doc.source_type, mime_type: doc.mime_type, title: doc.title } }];"
      },
      "name": "Lire Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-550, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.source_ref }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Telecharger Fichier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-300, 0]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "name": "Extraire Texte",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-50, 0]
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "name": "Vers Markdown",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "jsCode": "const MAX_CHUNK = 1000;\nconst MIN_CHUNK = 400;\nconst OVERLAP = 100;\n\nconst content = $input.first().json.data || $input.first().json.text || '';\nconst docId = $('Lire Document').first().json.document_id;\nconst title = $('Lire Document').first().json.title;\n\nfunction cleanText(text) { return text.replace(/\\s+/g, ' ').trim(); }\n\nconst lines = content.split('\\n');\nconst rawChunks = [];\nlet currentChunk = { heading: '', content: '', index: 0 };\nlet chunkIndex = 0;\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (!line) continue;\n  \n  const headingMatch = line.match(/^(#{1,6})\\s+(.+)$/);\n  \n  if (headingMatch) {\n    if (currentChunk.content.trim()) {\n      rawChunks.push({\n        index: chunkIndex++,\n        content: cleanText(currentChunk.content),\n        chunk_size: cleanText(currentChunk.content).length\n      });\n    }\n    currentChunk = { heading: line, content: line + ' ', index: chunkIndex };\n  } else if (line.match(/^[-=]{3,}$/)) {\n    continue;\n  } else {\n    currentChunk.content += line + ' ';\n  }\n}\n\nif (currentChunk.content.trim()) {\n  rawChunks.push({\n    index: chunkIndex,\n    content: cleanText(currentChunk.content),\n    chunk_size: cleanText(currentChunk.content).length\n  });\n}\n\nif (rawChunks.length === 0) {\n  rawChunks.push({ index: 0, content: cleanText(content), chunk_size: cleanText(content).length });\n}\n\n// Split oversized chunks at sentence boundaries\nconst processedChunks = [];\nfor (const chunk of rawChunks) {\n  if (chunk.chunk_size <= MAX_CHUNK) {\n    processedChunks.push(chunk);\n  } else {\n    let remainingText = chunk.content;\n    while (remainingText.length > 0) {\n      if (remainingText.length <= MAX_CHUNK) {\n        processedChunks.push({ content: remainingText, chunk_size: remainingText.length });\n        break;\n      }\n      const textToSplit = remainingText.substring(0, MAX_CHUNK);\n      let breakPoint = MAX_CHUNK;\n      const sentenceEndings = ['. ', '! ', '? ', '.\\n'];\n      let bestBreak = -1;\n      for (const ending of sentenceEndings) {\n        const lastIndex = textToSplit.lastIndexOf(ending);\n        if (lastIndex > bestBreak && lastIndex > MAX_CHUNK * 0.7) bestBreak = lastIndex + ending.length;\n      }\n      if (bestBreak > 0) breakPoint = bestBreak;\n      else { const lastSpace = textToSplit.lastIndexOf(' '); if (lastSpace > MAX_CHUNK * 0.7) breakPoint = lastSpace + 1; }\n      processedChunks.push({ content: remainingText.substring(0, breakPoint).trim(), chunk_size: remainingText.substring(0, breakPoint).trim().length });\n      remainingText = remainingText.substring(breakPoint).trim();\n    }\n  }\n}\n\n// Merge small chunks\nconst finalChunks = [];\nlet i = 0;\nwhile (i < processedChunks.length) {\n  const cur = processedChunks[i];\n  if (cur.chunk_size < MIN_CHUNK) {\n    if (i + 1 < processedChunks.length) {\n      const next = processedChunks[i + 1];\n      if (cur.chunk_size + next.chunk_size + 1 <= MAX_CHUNK) {\n        processedChunks[i + 1] = { content: cur.content + ' ' + next.content, chunk_size: cur.content.length + next.content.length + 1 };\n        i++; continue;\n      }\n    }\n    if (finalChunks.length > 0) {\n      const prev = finalChunks[finalChunks.length - 1];\n      if (prev.chunk_size + cur.chunk_size + 1 <= MAX_CHUNK) {\n        prev.content += ' ' + cur.content;\n        prev.chunk_size = prev.content.length;\n        i++; continue;\n      }\n    }\n  }\n  finalChunks.push(cur);\n  i++;\n}\n\n// Add overlap\nconst result = [];\nfor (let j = 0; j < finalChunks.length; j++) {\n  let chunkText = finalChunks[j].content;\n  if (j > 0) chunkText = finalChunks[j-1].content.slice(-OVERLAP) + ' ... ' + chunkText;\n  result.push({ json: { chunk_content: chunkText, full_document: content.substring(0, 3000), document_id: docId, title: title, chunk_index: j } });\n}\n\nreturn result;"
      },
      "name": "Chunking Intelligent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 0]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Loop par Chunk",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [700, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<document>\n{{ $json.full_document }}\n</document>\n<chunk>\n{{ $json.chunk_content }}\n</chunk>\nFournissez un court contexte (2-3 phrases) pour situer ce fragment dans le document global. Repondez uniquement avec le contexte.",
        "batching": {}
      },
      "name": "Contextualisation",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [950, -80]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0,
          "maxTokens": 150
        }
      },
      "name": "GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [950, 200],
      "credentials": {
        "openAiApi": {
          "id": "ofSSEvpXZSj1zVP0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "content",
              "value": "=[Contexte: {{ $json.text }}]\n\n{{ $('Loop par Chunk').item.json.chunk_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Fusionner",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, -80]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "rag_chunks",
          "mode": "list",
          "cachedResultName": "rag_chunks"
        },
        "options": {
          "queryName": "match_rag_chunks"
        }
      },
      "name": "Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [1450, -80],
      "credentials": {
        "supabaseApi": {
          "id": "0PPoXCPfDBFx2Pvg",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1350, 200],
      "credentials": {
        "openAiApi": {
          "id": "ofSSEvpXZSj1zVP0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "document_id",
                "value": "={{ $('Lire Document').first().json.document_id }}"
              }
            ]
          }
        }
      },
      "name": "Doc Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [1550, 200]
    },
    {
      "parameters": {
        "chunkSize": 1400,
        "options": {}
      },
      "name": "Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "jsCode": "const docId = $('Lire Document').first().json.document_id;\nconst supabaseUrl = 'https://plbjafwltwpupspmlnip.supabase.co';\n\nawait this.helpers.httpRequest({ method: 'POST', url: `${supabaseUrl}/functions/v1/rag-update-status`, headers: { 'Content-Type': 'application/json' }, body: { document_id: docId, status: 'ready' } });\n\nreturn [{ json: { success: true, document_id: docId } }];"
      },
      "name": "Status Ready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, -80]
    }
  ],
  "connections": {
    "Webhook File": {
      "main": [[{"node": "Lire Document", "type": "main", "index": 0}]]
    },
    "Lire Document": {
      "main": [[{"node": "Telecharger Fichier", "type": "main", "index": 0}]]
    },
    "Telecharger Fichier": {
      "main": [[{"node": "Extraire Texte", "type": "main", "index": 0}]]
    },
    "Extraire Texte": {
      "main": [[{"node": "Vers Markdown", "type": "main", "index": 0}]]
    },
    "Vers Markdown": {
      "main": [[{"node": "Chunking Intelligent", "type": "main", "index": 0}]]
    },
    "Chunking Intelligent": {
      "main": [[{"node": "Loop par Chunk", "type": "main", "index": 0}]]
    },
    "Loop par Chunk": {
      "main": [
        [{"node": "Vector Store", "type": "main", "index": 0}],
        [{"node": "Contextualisation", "type": "main", "index": 0}]
      ]
    },
    "Contextualisation": {
      "main": [[{"node": "Fusionner", "type": "main", "index": 0}]]
    },
    "GPT-4o-mini": {
      "ai_languageModel": [[{"node": "Contextualisation", "type": "ai_languageModel", "index": 0}]]
    },
    "Fusionner": {
      "main": [[{"node": "Loop par Chunk", "type": "main", "index": 0}]]
    },
    "Embeddings": {
      "ai_embedding": [[{"node": "Vector Store", "type": "ai_embedding", "index": 0}]]
    },
    "Doc Loader": {
      "ai_document": [[{"node": "Vector Store", "type": "ai_document", "index": 0}]]
    },
    "Splitter": {
      "ai_textSplitter": [[{"node": "Doc Loader", "type": "ai_textSplitter", "index": 0}]]
    },
    "Vector Store": {
      "main": [[{"node": "Status Ready", "type": "main", "index": 0}]]
    }
  },
  "pinData": {}
}
